# Local builds and dependencies
/build/
/dist/
/dist-*/
/work/
/external/
/runtime/
*.dll
*.exe
*.addon32
*.addon64
*.pdb
*.cso
*.log
*.zip
*.user
.vs/
ReShade.ini
AeonSR.ini
KuroUI.ini
KuroUI-captures/
KuroUI-draws.csv
*.obj
*.lib
*.exp
*.res
*.bmp
*.bin
!packaging/ReShade.ini
!packaging/AeonSR.ini
!packaging/KuroUI.ini
